<p>
  <b>Desasignado:</b>
  <%=h @lineas_desasignado.desasignado_id %>
</p>

<p>
  <b>Existencia:</b>
  <%=h @lineas_desasignado.existencia_id %>
</p>


<%= link_to 'Edit', edit_lineas_desasignado_path(@lineas_desasignado) %> |
<%= link_to 'Back', lineas_desasignados_path %>