<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<h1>Listing existencias</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Activo</th>
    <th>Serial</th>
    <!-- <% if current_page?(:action => 'show') %>
      <th>Activo</th>
    <% end %> -->
  </tr>

<% @asignados.each do |linea| %>
  <tr>
    <td><%=h linea.fecha %></td>
    <td><%=h linea.activo.descripcion %></td>
    <td><%=h linea.serial %></td>
    <td><%= link_to('Destroy', linea, :confirm => '¿Esta seguro?', :method => :delete) if current_page?(:action => 'new') %></td>
  </tr>
<% end %>
</table>